Adam <Adam@anope.org> <adam@sigterm.info>
Attila Molnar <attilamolnar@hush.com>
Colgate Minuette <colgate.inspircd@canternet.org> <killerrabbit008@gmail.com>
Daniel De Graaf <danieldg@inspircd.org> <daniel@epsilon>
linuxdaemon <linuxdaemon@snoonet.org> <linuxdaemon@users.noreply.github.com>
linuxdaemon <linuxdaemon@snoonet.org> <walter@walterbarnes.net>
Nikos Papakonstantinou <url.euro@gmail.com>
reverse <mike.chevronnet@gmail.com> <129334336+revrsedev@users.noreply.github.com>
reverse <mike.chevronnet@gmail.com> <129334336+revrsefr@users.noreply.github.com>
Robby <robby@chatbelgie.be> <Robby-@users.noreply.github.com>
Robin Burchell <robin+git@viroteck.net> <viroteck@viroteck.net>
Robin Burchell <robin+git@viroteck.net> <w00t@inspircd.org>
Sadie Powell <sadie@witchery.services> <petpow@saberuk.com>
satmd <satmd@satmd.de> <satmd@satmd.dyndns.org>
satmd <satmd@satmd.de> <satmd@users.noreply.github.com>
James Lu <james@overdrivenetworks.com> <GLolol@overdrivenetworks.com>

