Adam <Adam@anope.org>                        Adam <adam@sigterm.info>
Attila Molnar <attilamolnar@hush.com>        attilamolnar <attilamolnar@hush.com>
Nikos Papakonstantinou <url.euro@gmail.com>  Nikos-ioh <url.euro@gmail.com>
Robin Burchell <robin+git@viroteck.net>      Robin Burchell <viroteck@viroteck.net>
Sadie Powell <sadie@witchery.services>       Peter Powell <petpow@saberuk.com>
